header {
    padding: 20px 40px;    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.hero {
    margin-top: 300px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--secondary-color);
}

button {
    margin-top: 200px;
    padding: 28px 36px;
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 55px;
    cursor: pointer;
    transition: 0.3s ease;

}

button:hover {
    background-color: #160c04;
    color: white;
}